.kodemi-span:hover {
    background-image: linear-gradient(to top, #ffa500, #ffff00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.kodemi-span-d:hover {
    background-image: linear-gradient(to top, #00530e, #00af1d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Dodaj to w pliku CSS lub jako styl inline w komponencie */
.stack> :not(:first-child) {
    position: relative;
    top: -40px;
    /* Adjust this value based on your design */
    z-index: -1;
}